{%load static %}

<html>
	<head>
		<title>Олимпиады</title>
		<link rel="stylesheet" href="{% static 'css/olimp.css' %}">
	</head>
	<body>
		<div class="page-header">
			<div class="page-header-2">
				<h1><a href="/">САЙТ ОБ ОЛИМПИАДАХ</a></h1>
			</div>
		</div>
		
		<div class="list">
			<h1>Список олимпиад</h1>
		</div>
		
		
		<div class="olimpiad">
			<div class='olimptext'>
				{% for olimp in s %}
				<hr>
					<h2>{{olimp.title}}</h2>
					<div class='textdesc'>
						<p>Описание: {{olimp.information}}</p>
						<p>озраст участников: {{olimp.audience}}</p>
						<p>Начало: {{olimp.start_dates}}</p>
						<p>Конец: {{olimp.finish_dates}}</p>
						<p>Сайт: {{olimp.site}}</p>
					</div>
				<hr>
				{% endfor %}
			</div>	
		</div>
	</body>
</html>